body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    padding: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #272829;
    color: #FFF6E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 25px;
}

#bgVdo {
    position: fixed;
    width: 120%;
    height: 130%;
}

#vdoBttn {
    z-index: 2;
    position: absolute;
    padding: 5px 10px 5px 10px;
    left: 30px;
    top: 50px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(25px);
    border: none;
    border-radius: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: antiquewhite;
    transition: all 0.4s;
}

#vdoBttn:hover {
    background-color: rgba(95, 158, 160, 0.4);
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.452);
}

section {
    position: absolute;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 620px;
    width: 490px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px 25px 20px 25px;
    backdrop-filter: blur(15px);
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.452);
}

#error {
    display: none;
    text-align: center;
    color: red;
    font-size: 20px;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainDetail,
.cityName {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.cityName {
    font-size: 30px;
}

.mainDetail {
    font-size: 35px;
}

.mainDetailDesc {
    display: flex;
    flex-direction: row;
    width: 55%;
    align-items: center;
    justify-content: center;
}

.MainImg {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.MainImg img {
    height: 200px;
    width: auto;
}

.search {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input {
    border-radius: 15px;
    border: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 17px;
    height: 35px;
    width: 70%;
    text-align: center;
    color: #3c4061;
    transition: all 0.3s ease-in-out;
}

input::placeholder {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 17px;
}

input:focus {
    border: none;
    outline: none;
    transform: scale(1.07);
    border-radius: 20px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.452);
}

.search button {
    display: flex;
    justify-content: center;
    background: none;
    border: none;
}

.search img {
    height: 40px;
    transition: all 0.3s ease-in-out;
}

#curLoc img {
    background: none;
}

.search img:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
    transform: scale(1.1);
}

.temp {
    font-size: 45px;
}

.city {
    font-size: 35px;
}

.details {
    display: flex;
    flex-direction: row;
    line-height: 5px;
    padding: 25px;
    justify-content: space-between;
}

.climate {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weatherImg {
    height: 60px;
}

.getValue {
    font-size: 25px;
}