@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Josefin+Sans&display=swap');

body{
    font-family: 'Dosis', sans-serif;
    background: #2C3333;
    color: #F9F9E0;
}

.quiz{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 7px 7px 5px black;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    font-family: inherit;
    font-size: 1.6rem;
    min-width: 350px;
    max-width: 500px;
    min-height: 525px;
    max-height: -moz-fit-content;
    max-height: fit-content;
    backdrop-filter: blur(25px);
    background: linear-gradient(135deg, #232d3f86, #cdf5fd44);
    border: 2px solid #526D82;
    border-radius: 15px;
    align-content: space-around;
}

button{
    font-family: inherit;
    font-weight: 600;
    width: 95px;
    min-width: max-content;
    height: 45px;
    font-size: 23px;
    border: none;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

button svg{
    height: -moz-fit-content;
    height: fit-content;
    width: 25px;
    vertical-align: bottom;
}

button:hover{
    filter: brightness(1.4);
    box-shadow: 2.5px 2.5px 3px black;
    cursor: pointer;
}

button:active{
    transform: scale(0.9);
    box-shadow: none;
}

.container header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 35px 20px 35px;
}

.container .level{
    display: none;
    padding: 10px;
}

.container .attempted{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
}

#easy{
    background: #9EC8B9;
}

#medium{
    background: #FFF78A;
}

#hard{
    background: #EA906C;
}

#start{
    background: #efefef;
}

#start:hover{
    background: #EEF296;
    color: #005B41;
}

#quit{
    display: none;
    background: #CD5C08;
    color: #FFF8C9;
}

#prev{
    background: #FFC5C5;
}

#nxt{
    background: #89B9AD;
}

#check{
    display: none;
    color: #1C0A00;
    background: linear-gradient(45deg, #F1EB90, #E8F3D6);
}

#check:hover{
    background: linear-gradient(45deg, #C8DBBE, #F1A661);
}

#check:disabled{
    background: #DDF2FD;
    transform: scale(0.9);
    color: #6499E9;
}

#submit{
    background: #E8FFCE;
    color: #071952;
}

#submit:hover{
    background: #F8DE22;
    color: #E74646;
}

#resetopt{
    background: #F5CCA0;
    color: #000000;
}

#resetopt:hover{
    background: #F39F5A;
    color: #451952;
}

.container h1{
    margin-top: 10px;
}

.options{
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.options button{
    padding: 2px 6px 2px 6px;
    width: 100%;
    min-height: 40px;
    font-size: 20px;
    min-width: min-content;
    height: max-content;
    overflow-wrap: break-word;
    text-align: left;
}

.options button:hover{
    color: #F9F9E0;
    background-color: #2B2A4C;
}

.navigate{
    display: none;
    padding: 15px;
}

.container .foot{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.options .selected{
    background-color: #FFB534;
    color: #31304D;
}

.scoreboard{
    display: none;
    border: 2px solid #526D82;
    border-radius: 10px;
    background: linear-gradient(#f3deba9a, #abc4aac2);
    color: #001524;
    backdrop-filter: blur(25px);
}

#foot{
    display: none;
}