@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
    background-color: #121321;
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

section::before {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: linear-gradient(-45deg, #e16500, #338b53);
    box-shadow: -25px 0 45px #e1650060;
    transform: translate(-150px, -100px);
}

section::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 25px 0px 45px #338b5360;
    background-image: linear-gradient(-45deg, #338b53, #e16500);
    transform: translate(150px, 100px);
}

.container {
    display: flex;
    justify-content: stretch;
    position: relative;
    height: 225px;
    width: 385px;
    border-radius: 20px;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.container:hover {
    transform: rotateY(180deg);
}

.container .Card {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
}

.front{
    padding: 20px;
}

.front header{
    display: flex;
    justify-content: space-between;
}

.front header .chip{
    width: 48px;
}

.front header .rupay{
    width: 120px;
}

.number, .name{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.infoNumber, .dateDetails{
    line-height: 10px;
}

.dateDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back{
    transform: rotateY(180deg);
    padding: 0px 10px 10px 10px;
}

.contactInfo{
    padding: 5px 20px 20px 20px;
    font-size: 11.8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.magneticStrip{
    position: absolute;
    left: 0;
    top: 40px;
    height: 40px;
    width: 100%;
    background-color: #000;
}

.cvv{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    height: 40px;
    width: 75%;
    left: 5%;
    color: #000;
    background: repeating-linear-gradient(#fff, #fff 3px, #efefef 0px, #efefef 9px);
    border-radius: 6px;
}

.cvv i{
    position: relative;
    padding: 7px 6px 7px 8px;
    background-color: #fff;
    z-index: -1;
    margin-right: -40px;
    border-radius: 5px;
}

.info{
    font-size: 12px;
    padding: 5px 20px 20px 20px;
}