@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
    background-color: #121321;
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

section::before {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: linear-gradient(-45deg, #e16500, #338b53);
    box-shadow: -25px 0 45px #e1650060;
    transform: translate(-150px, -100px);
}

section::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 25px 0px 45px #338b5360;
    background-image: linear-gradient(-45deg, #338b53, #e16500);
    transform: translate(150px, 100px);
}

.container {
    display: flex;
    justify-content: stretch;
    position: relative;
    height: 225px;
    width: 385px;
    border-radius: 20px;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.container:hover {
    transform: rotateY(180deg);
}

.Card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
}

.front header{
    display: flex;
    justify-content: space-between;
}

.front header .chip{
    width: 48px;
}

.front header .rupay{
    width: 120px;
}

.number, .name{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.infoNumber, .dateDetails{
    line-height: 10px;
}

.dateDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}