body{
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: azure;
}

.box{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 35%;
    width: 100%;
    background-color: #39A7FF;
    border-radius: 20px 20px 0 0 ;
}

.card{  
    background-color: #E0F4FF;  
    padding: 15px;
    height: 80%;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.452);
    position: relative;
}

.card div{
    padding: 20px;
}

.info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name{
    font-size: 2.5vw;
}

.profession{
    font-size: 1.8vw;
}

.picture{
    position: relative;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-color: #39A7FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePhoto{
    border: 3px solid;
    border-color: #fff;
    height: 142px;
    padding: 3px;
    width: 142px;
    border-radius: 50%;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.links a img{
    height: auto;
    width: 90%;
}

.links a img:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.contact{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
}

.contact button{
    border-radius: 18px;
    padding: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #39A7FF;
    font-family: 'Gill Sans MT';
    font-size: 1.7vw;
    border: transparent;
}

.contact button:hover{
    cursor: pointer;
    background-color: dodgerblue;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}